#main-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem;
    justify-content: center;
    align-content: center;
}

.details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.title-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

#submit-container {
    display: flex;
    justify-content: center;
    margin-left: 100%;
}